.contacts
  padding: 9.5rem 0 8.5rem
  &-content
    display: flex
    justify-content: space-between
  &-title
    font-weight: 400
    margin-bottom: 4.7rem
    span
      font-weight: 700
  &-group
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.1)
    &:not(:last-child)
      margin-bottom: 1.7rem
  &-info
    width: 31.4%
    flex-shrink: 0
    // margin-top: .5rem
    color: rgba(#000, .8)
    &__block
      width: 95%
      display: flex
      margin-bottom: 2.8rem
      &-img
        width: 1.2rem
        flex-shrink: 0
        margin-top: 0.9rem
        margin-right: 2.2rem
        svg
          width: 100%
          height: auto
      &-text
        font-size: 1.6rem
        line-height: 1.62
        color: #000
        span
          font-size: 1.8rem
          font-weight: 600
          margin-right: .5rem
    &__btn.btn
      min-width: auto
      padding: 0 8rem
      margin: 2.5rem 0 5.6rem
      &.active
        background: #286BB2
        color: #fff
        svg
          transform: rotate(-180deg)
      svg
        width: 1rem
        height: auto
        margin-left: 1rem
        transition: transform .25s
    &__more
      display: none
      margin-bottom: 7.1rem
      &-group
        &:not(:last-of-type)
          margin-bottom: 7.1rem
      &-title
        width: 75%
        font-size: 1.6rem
        // font-weight: 500
        line-height: 1.62
        margin-bottom: 2.7rem
        span
          font-size: 1.8rem
          font-weight: 700
      &-subtitle
        font-size: 1.8rem
        // +futura
        font-weight: 700
        margin: 3.2rem 0 2.2rem
      &-description
        width: 87%
        font-size: 1.6rem
        line-height: 1.62
        color: rgba(#000, .82)
      &-coordinates
        display: flex
        &-item
          font-size: 1.6rem
          color: rgba(0, 0, 0, 0.4)
          &:not(:last-child)
            margin-right: 3.7rem
        &-title
          margin-bottom: 1.3rem
        &-number
          color: rgba(0, 0, 0, 0.82)
    &__links
      display: flex
      flex-direction: column
      align-items: flex-start
      font-size: 1.8rem
      font-weight: 600
      // letter-spacing: .01em
      margin-bottom: 2rem
    &__phone
      font-weight: 700
      color: #1A89FF
      margin-bottom: 2.5rem
      transition: color .25s
      &:hover
        transition: color .25s
        color: rgba(#000, .8)
        
    &__email
      color: rgba(#000, .8)
      transition: color .25s
      &:hover
        color: #1A89FF
    &__social
      display: flex
      align-items: center
      margin: 3rem 1.2rem 4.2rem
      &-text
        position: absolute
        bottom: -3rem
        background: #1A89FF
        color: #fff
        font-size: 1.4rem
        width: fit-content
        white-space: nowrap
        padding: 0.4rem
        border-radius: 1rem
        opacity: 0
        right: 0
        transition: opacity .25s
      &-item
        width: 3.8rem
        height: 3.8rem
        border-radius: 50%
        border: 1px solid rgba(26, 137, 255, 0.2)
        display: flex
        justify-content: center
        align-items: center
        position: relative
        flex-shrink: 0
        transition: all .25s
        
        &:hover
          border-color: rgba(255, 255, 255, 0.2)
          background: #1A89FF
          transition: opacity .25s
          .contacts-info__social-text
            opacity: 1
            transition: opacity .25s
          &::after
            background: #1A89FF
          img
            opacity: 0
            &.social-item__hover
              opacity: 1
        &:not(:last-child)
          margin-right: 3.7rem
        &::after
          content: ''
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          width: 100%
          height: 100%
          border-radius: inherit
          background: rgba(26, 137, 255, 0.08)
          transition: background .25s
          animation: pulse 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
          z-index: -1
        img
          width: 1.8rem
          transition: opacity .25s
          transition: all .25s
          &.social-item__hover
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            opacity: 0
    &__bottom
      display: flex
      align-items: center
      margin-top: 2.5rem
      &-text
        font-size: 1.8rem
        font-weight: 600
        margin-right: auto
      &-social
        display: flex
        align-items: center
        &-item
          width: 2.1rem
          opacity: 0.45
          transition: opacity .25s
          position: relative
          &:hover
            opacity: 1
            &::after
              opacity: 1
          &:not(:last-child)
            margin-right: 1.3rem
  &-map
    width: 63%
    height: 65.8rem
    margin-top: 0.3rem
    flex-shrink: 0
    .ymaps-2-1-79
      &-ground-pane
        filter: grayscale(1)
      &-hint
        padding: 0
        box-shadow: none
        &__text
          padding: 0
          background: none
    .hint
      padding: 3rem 3.1rem
      background: #fff
      border-radius: 0.6rem
      box-shadow: 0 .4rem 5rem rgba(0, 0, 0, 0.1)
      font-size: 1.6rem
      +mont
      // letter-spacing: .02em
      line-height: 1.62
      color: #1E1E1E
      // &-suptitle
      //   margin-bottom: 1rem
      &-title
        font-size: 1.8rem
        font-weight: 700
        line-height: 1.44

.contacts-content-tab
  display: none
.contacts-content-tab--active
  display: flex
