.guarantee
  padding: 8rem 0 19.8rem
  position: relative
  z-index: 1
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 47.2%
    height: 100%
    background: linear-gradient(87.45deg, rgba(24, 55, 117, 0.06) 1.08%, rgba(20, 99, 197, 0.06) 99.1%)
    z-index: -1
  &-content
    display: flex
    justify-content: space-between
  &-left
    width: 38%
    padding-top: 0.5rem
  &-title
    margin-bottom: 4.6rem
  &-description
    font-size: 1.6rem
    line-height: 1.62
    color: rgba(#000, .82)
    margin-bottom: 4.6rem
  &-subtitle
    // width: 80%
    font-size: 1.8rem
    font-weight: 600
    line-height: 1.44
    margin-bottom: 5.4rem
    // span
    //   font-weight: 700
  &-block
    width: 90%
    display: flex
    align-items: center
    .decor
      margin-right: 2.2rem
    &__title
      font-size: 1.6rem
      // font-weight: 500
      line-height: 1.62
  &-right
    width: 45.6%
    flex-shrink: 0
    display: flex
  &-img
    display: inline-block
    width: 25.7rem
    height: 37.1rem
    flex-shrink: 0
    filter: drop-shadow(0 .2rem 2.5rem rgba(0, 0, 0, 0.1))
    margin-right: 6.8rem
    img
      height: 100%
      object-fit: cover
  &-risk
    display: flex
    color: rgba(#000, .82)
    margin-top: 9.3rem
    &__decor
      width: 1.2rem
      height: auto
      flex-shrink: 0
      margin-top: 0.5rem
      margin-right: 2.2rem
      svg
        width: 100%
        height: auto
    &__title
      font-size: 1.8rem
      font-weight: 700
      margin-bottom: .7rem
    &__description
      font-size: 1.6rem
      line-height: 1.62
      span
        font-size: 1.8rem
        font-weight: 700
        line-height: 1.44
        color: rgba(#1A89FF, .82)