.offer
  padding: 7.6rem 0 10rem
  color: rgba(#000, .82)
  &-heading
    margin-bottom: 6.5rem
  &-title
    margin-bottom: 1.8rem
  &-subtitle
    font-size: 1.6rem
    font-weight: 600
  &-content
    display: flex
    justify-content: space-between
  &-item
    width: 18%
    position: relative
    flex-shrink: 0
    &:first-child
      width: 20.2%
    &:last-child
      width: 17%
    .decor
      position: absolute
      left: 0
      top: .2rem
    &__title
      padding-left: 6rem
      font-size: 1.6rem
      font-weight: 600
      line-height: 1.5
      margin-bottom: 2.5rem
      span
        display: block
    &__description
      font-size: 1.3rem
      line-height: 1.85