.services
  padding: 33.2rem 0 10rem
  box-shadow: 0 .4rem 6rem rgba(0, 0, 0, 0.06), 0 0 5rem rgba(0, 0, 0, 0.1)
  &-title
    width: 45%
    font-weight: 400
    line-height: 1.47
    margin-bottom: 3.2rem
    span
      display: block
      font-weight: 700
  &-content
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 3.4rem
  &-item
    display: flex
    align-items: center
    padding: 2.6rem 2.9rem
    background: #FFFFFF
    border: .14rem solid #1A89FF
    border-radius: .6rem
    transition: box-shadow .25s
    &:hover
      box-shadow: 0 .4rem 6rem rgba(0, 0, 0, 0.06), 0 0 5rem rgba(0, 0, 0, 0.1)
    &__decor
      margin-right: 3.4rem
    &__title
      font-size: 1.6rem
      font-weight: 600
      line-height: 1.62
      letter-spacing: .02em
      color: rgba(0, 0, 0, 0.9)